{% extends 'base/base.html' %}
{% block contenido %}

<h4 id="titulo-amigos">Mis Amigos</h4>

<div id="boton-buscar-amigos">
<a id="boton-amigos" class="btn btn-warning" href="{% url 'amigos:buscar_amigos' %}">Buscar/Agregar Amigos</a>
</div>


<table id="tabla_amigos" class="table table-bordered">
	<thead>
		<tr>
			<td class="table-top">Username</td>
			<td class="table-top">Name</td>
		</tr>
		
	</thead>
	<tbody>
		{% if amigos %}
		{% for user in amigos.all %}
		<tr>
			<td>{{user.username}}</td>
			<td>{{user.first_name}} {{user.last_name}}</td>
		</tr>
		{% endfor %}
		{% else %}
		<h1>No tienes amigos aun.</h1>
		{% endif %}



{% endblock %}